Repository HakatonNuclearGandhi/estudee-front, pull requests merged in 2023-05, with the labels that each got.

#2 setup
  .babelrc
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/estudee-front.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/eslint.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/vcs.xml
  .idea/workspace.xml
  README.md
  next.config.js
  package-lock.json
  package.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/globals.css
  tsconfig.json
  yarn.lock
Labels: good first issue

#13 page/landing
  .gitignore
  package-lock.json
  package.json
  public/background/landing-background.png
  public/logos/logo_blue.svg
  public/logos/logo_white.svg
  public/logos/text_logo.png
  public/logos/text_logo.svg
  src/common/components/hyperlink/HyperLink.tsx
  src/common/components/hyperlink/index.ts
  src/common/pages/LandingPage/LandingPage.styles.ts
  src/common/pages/LandingPage/LandingPage.tsx
  src/common/pages/LandingPage/common/NavBar/NavBar.styles.ts
  src/common/pages/LandingPage/common/NavBar/NavBar.tsx
  src/common/pages/LandingPage/common/NavBar/index.ts
  src/common/pages/LandingPage/index.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/globals.css
  src/styles/theme/theme.ts
  src/styles/theme/typography/index.ts
  src/styles/theme/typography/interfaces.ts
  src/styles/theme/typography/typography.ts
  yarn.lock
Labels: page

#15 enhancement/color-palette
  src/common/pages/LandingPage/LandingPage.tsx
  src/styles/globals.css
  src/styles/theme/palette/index.ts
  src/styles/theme/palette/interfaces.ts
  src/styles/theme/palette/palette.ts
  src/styles/theme/theme.ts
Labels: enhancement

#18 ui-kit/input
  src/common/components/input/Input.styles.ts
  src/common/components/input/Input.tsx
  src/common/components/input/index.ts
  src/common/pages/test/input-page/InputPage.style.tsx
  src/common/pages/test/input-page/InputPage.tsx
  src/common/pages/test/input-page/index.ts
  src/pages/_app.tsx
  src/pages/test/input.tsx
  src/styles/theme/palette/interfaces.ts
  src/styles/theme/theme.ts
Labels: ui-kit

#20 ui-kit/button
  src/common/components/button/Button.styles.ts
  src/common/components/button/Button.tsx
  src/common/components/button/index.ts
  src/common/components/input/Input.styles.ts
  src/common/pages/test/button-page/ButtonPage.style.tsx
  src/common/pages/test/button-page/ButtonPage.tsx
  src/common/pages/test/button-page/index.ts
  src/pages/test/button.tsx
Labels: ui-kit

#19 ui-kit/tabs
  package.json
  src/common/components/tabs/index.ts
  src/common/components/tabs/tab-list/TabList.styles.ts
  src/common/components/tabs/tab-list/TabList.tsx
  src/common/components/tabs/tab-list/index.ts
  src/common/components/tabs/tab-panel/TabPanel.tsx
  src/common/components/tabs/tab-panel/index.ts
  src/common/components/tabs/tab/Tab.styles.ts
  src/common/components/tabs/tab/Tab.tsx
  src/common/components/tabs/tab/index.ts
  src/common/pages/test/tab-page/TabPage.style.ts
  src/common/pages/test/tab-page/TabPage.tsx
  src/common/pages/test/tab-page/index.ts
  src/hooks/useTab.ts
  src/pages/test/tab.tsx
  yarn.lock
Labels: ui-kit

#22 page/information-page
  src/common/layout/Layout.styles.ts
  src/common/layout/Layout.tsx
  src/common/layout/common/information-bar/InformationBar.styles.ts
  src/common/layout/common/information-bar/InformationBar.tsx
  src/common/layout/common/information-bar/index.ts
  src/common/layout/index.ts
  src/common/pages/landing-page/LandingPage.styles.ts
  src/common/pages/landing-page/LandingPage.tsx
  src/common/pages/landing-page/common/NavBar/NavBar.styles.ts
  src/common/pages/landing-page/common/NavBar/NavBar.tsx
  src/common/pages/landing-page/common/NavBar/index.ts
  src/common/pages/landing-page/index.ts
  src/pages/index.tsx
  src/pages/test/layout.tsx
Labels: page

#23 enhancement/landing
  src/common/components/button/Button.styles.ts
  src/common/components/button/Button.tsx
  src/common/components/hyperlink/HyperLink.tsx
  src/common/pages/landing-page/LandingPage.tsx
  src/common/pages/landing-page/common/NavBar/NavBar.styles.ts
  src/common/pages/landing-page/common/NavBar/NavBar.tsx
Labels: enhancement

#24 api/auth
  .env
  package.json
  src/common/layout/Layout.tsx
  src/common/layout/common/information-bar/InformationBar.tsx
  src/lib/api/auth/authApi.ts
  src/lib/api/auth/dto/Login.ts
  src/lib/api/auth/dto/Register.ts
  src/lib/api/auth/dto/RegisterResponse.ts
  src/lib/api/auth/dto/Token.ts
  src/lib/api/instance.ts
  yarn.lock
Labels: bug, api

#25 page/dashboard
  package.json
  src/common/components/tabs/tab-panel/TabPanel.styles.ts
  src/common/components/tabs/tab-panel/TabPanel.tsx
  src/common/layout/Layout.tsx
  src/common/layout/common/information-bar/InformationBar.styles.ts
  src/common/layout/common/information-bar/InformationBar.tsx
  src/common/pages/dashboard-page/Dashboard.styles.ts
  src/common/pages/dashboard-page/DashboardPage.tsx
  src/common/pages/dashboard-page/common/line-graph/LineGraph.styles.ts
  src/common/pages/dashboard-page/common/line-graph/LineGraph.tsx
  src/common/pages/dashboard-page/common/line-graph/index.ts
  src/common/pages/dashboard-page/common/line-graph/utils/constrants.ts
  src/common/pages/dashboard-page/common/line-graph/utils/index.ts
  src/common/pages/dashboard-page/common/task-block/TaskBlock.styles.ts
  src/common/pages/dashboard-page/common/task-block/TaskBlock.tsx
  src/common/pages/dashboard-page/common/task-block/index.ts
  src/common/pages/dashboard-page/common/task-block/task/Task.styles.ts
  src/common/pages/dashboard-page/common/task-block/task/Task.tsx
  src/common/pages/dashboard-page/common/task-block/task/index.ts
  src/common/pages/dashboard-page/index.ts
  src/common/pages/test/tab-page/TabPage.tsx
  src/common/pages/test/tab-page/index.ts
  src/lib/api/dto/Task.ts
  src/pages/test/tab.tsx
  src/styles/theme/palette/palette.ts
  yarn.lock
Labels: page, ui-kit

#28 page/subjects
  src/common/layout/Layout.tsx
  src/common/pages/subject-page/SubjectPage.styles.ts
  src/common/pages/subject-page/SubjectPage.tsx
  src/common/pages/subject-page/common/subject-card/SubjectCard.styles.ts
  src/common/pages/subject-page/common/subject-card/SubjectCard.tsx
  src/common/pages/subject-page/common/subject-card/index.ts
  src/common/pages/subject-page/index.ts
Labels: page

#31 page/task-page
  src/common/components/task-block/TaskBlock.styles.ts
  src/common/components/task-block/TaskBlock.tsx
  src/common/components/task-block/index.ts
  src/common/components/task-block/task/Task.styles.ts
  src/common/components/task-block/task/Task.tsx
  src/common/components/task-block/task/index.ts
  src/common/layout/Layout.tsx
  src/common/pages/dashboard-page/DashboardPage.tsx
  src/common/pages/task-page/TaskPage.styles.ts
  src/common/pages/task-page/TaskPage.tsx
  src/common/pages/task-page/index.ts
  src/pages/main.tsx
Labels: page

#33 page/registration
  src/common/layout/common/information-bar/InformationBar.tsx
  src/common/pages/auth/AuthPages.ts
  src/common/pages/auth/login-page/LoginPage.tsx
  src/common/pages/auth/login-page/index.ts
  src/common/pages/auth/registration-page/RegistrationPage.tsx
  src/common/pages/auth/registration-page/index.ts
  src/common/pages/landing-page/LandingPage.tsx
  src/common/pages/landing-page/common/NavBar/NavBar.tsx
  src/pages/login.tsx
  src/pages/registration.tsx
Labels: page, api

#35 api/subjects
  .env
  src/common/layout/common/information-bar/InformationBar.styles.ts
  src/common/pages/auth/login-page/LoginPage.tsx
  src/common/pages/subject-page/SubjectPage.tsx
  src/common/pages/subject-page/common/subject-card/SubjectCard.styles.ts
  src/lib/api/instance.ts
  src/lib/api/subject/Subject.ts
  src/lib/api/subject/dto/SubjectDTO.ts
  src/utils/index.ts
Labels: api
